<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Auth0ClientID" value="1VFB3PkL5RFJzFFTjgKN3aNrjAjJBKUu" />
    <add key="Auth0ClientSecret" value="eGAduXwm5rbRy-sa4e1CV5712f5_6GK-iW1QMT3U57-HpkS9Duo34J75fTXDkMcN" />
    <add key="Auth0ServerIP" value="qpiro.auth0.com" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProcessingSoap1" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap2" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap3" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap4" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap5" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap6" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap7" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap8" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
        <binding name="ProcessingSoap9"  maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53839/Processing.asmx" binding="basicHttpBinding"
        bindingConfiguration="ProcessingSoap" contract="SoapTest.ProcessingSoap"
        name="ProcessingSoap" />
      <endpoint address="http://qpp1.azurewebsites.net/processing.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcessingSoap1"
        contract="SoapServer1.ProcessingSoap" name="ProcessingSoap1" />
      <endpoint address="http://qpp2.azurewebsites.net/processing.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcessingSoap2"
        contract="SoapServer2.ProcessingSoap" name="ProcessingSoap2" />
      <endpoint address="http://qpp3.azurewebsites.net/processing.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcessingSoap3"
        contract="SoapServer3.ProcessingSoap" name="ProcessingSoap3" />
      <endpoint address="http://qpp4.azurewebsites.net/processing.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcessingSoap4"
        contract="SoapServer4.ProcessingSoap" name="ProcessingSoap4" />
      <endpoint address="http://qpp5.azurewebsites.net/processing.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcessingSoap5"
        contract="SoapServer5.ProcessingSoap" name="ProcessingSoap5" />
      <endpoint address="http://qpp6.azurewebsites.net/processing.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcessingSoap6"
        contract="SoapServer6.ProcessingSoap" name="ProcessingSoap6" />
      <endpoint address="http://qpp7.azurewebsites.net/processing.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcessingSoap7"
        contract="SoapServer7.ProcessingSoap" name="ProcessingSoap7" />
      <endpoint address="http://qpp8.azurewebsites.net/processing.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcessingSoap8"
        contract="SoapServer8.ProcessingSoap" name="ProcessingSoap8" />
    </client>
  </system.serviceModel>
</configuration>